@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");

* {
  margin: 0;
}

.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.love-light-regular {
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --body-home-page: #501720;
  --background-button-inscription: red;
  --background-burger: white;
  --int-easy-chat: pink;
}

button {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 320px) {
  .body-home-page {
    background-color: var(--body-home-page);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
  }

  .menu {
    position: absolute;
    right: 0;
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-inscription {
    position: absolute;
    right: 4em;
    top: 0.5em;
    background-color: var(--background-button-inscription);
    font-size: 1em;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: arial;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    cursor: pointer;
  }

  .burger {
    width: 80%;
    height: 0.3em;
    margin-top: 0.3em;
    position: relative;
    background-color: var(--background-burger);
    border-radius: 1em;
  }

  .click-burger {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
  }

  .burger-home {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--body-home-page);
  }

  .x {
    background-color: var(--body-home-page);
    border: none;
    position: absolute;
    right: 0;
    font-size: 3.5em;
    color: white;
  }

  .ins-co {
    width: 80%;
    height: 30em;
    position: absolute;
    left: 10%;
    top: 5em;
  }

  .ins {
    position: relative;
    width: 80%;
    height: 2em;
    left: 10%;
    background-color: var(--background-button-inscription);
    border-radius: 2em;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: Georgia, serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-top: 1em;
  }

  #se-connecter {
    background-color: var(--body-home-page);
    color: white;
    border: 1px solid white;
  }

  .liste-burger-home {
    position: relative;
    top: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Baskervville SC", serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .li-burger-home {
    margin-top: 1em;
  }

  .return-accueil {
    width: 100%;
    height: 100%;
    background-color: var(--background-home-page);
    border: none;
    font-size: 1em;
    color: white;
    font-family: "Baskervville SC", serif;
  }

  .easy-chat {
    font-family: "Love Light", cursive;
    font-size: 2em;
    margin-left: 0.5em;
    color: var(--int-easy-chat);
    position: absolute;
  }

  .carrousel-registration {
    position: absolute;
    top: 5em;
    width: 90%;
    left: 5%;
    height: 30em;
    /* border: 1px solid white; */
    overflow: hidden;
  }

  .ul-carrousel-registration {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 300%;
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .li-carrousel-registration {
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow; */
    position: relative;
  }

  .i-am {
    position: absolute;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .li-sex {
    position: absolute;
    top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .button-sex {
    width: 40%;
    height: 3em;
    border: 1px solid blue;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: var(--body-home-page);
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.8em;
  }

  .radio-sex {
    position: relative;
    top: -5em;
    left: -1em;
    width: 9em;
    height: 9em;
    opacity: 1;
  }

  #selectedHomme {
    background-color: red;
  }

  #selectedFemme {
    background-color: red;
  }

  #selectedSearchHomme {
    background-color: red;
  }

  #selectedSearchFemme {
    background-color: red;
  }

  .next-inscription-off {
    position: absolute;
    bottom: 10em;
    width: 80%;
    left: 10%;
    padding: 1em;
    border-radius: 20px;
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
  }

  .next-inscription-on {
    position: absolute;
    bottom: 10em;
    width: 80%;
    left: 10%;
    padding: 1em;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
  }

  .i-search {
    position: absolute;
    top: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .li-search {
    position: absolute;
    top: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .radio-sex {
    position: relative;
    top: -5em;
    left: -1em;
    width: 11em;
    height: 11em;
  }
}

@media screen and (min-width: 425px) {
  .radio-sex {
    position: relative;
    top: -5em;
    left: -1.5em;
    width: 13em;
    height: 13em;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 5%;
  }

  .button-inscription {
    padding-left: 3em;
    padding-right: 3em;
    right: 1em;
  }

  .button-connexion {
    position: absolute;
    right: 12em;
    top: 0.5em;
    background-color: white;
    font-size: 1em;
    color: red;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: arial;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    cursor: pointer;
  }

  .easy-chat {
    font-family: "Love Light", cursive;
    font-size: 3em;
    margin-left: 0.5em;
    color: var(--int-easy-chat);
  }
}
