@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");

* {
  margin: 0;
}

.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.love-light-regular {
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --body-home-page: #501720;
  --background-button-inscription: red;
  --background-burger: white;
  --int-easy-chat: pink;
}

.logo-mail {
  font-family: "Love Light", cursive;
}
button {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 320px) {
  .body-home-page {
    background-color: var(--body-home-page);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
  }

  .header-member {
    width: 100%;
    height: 3em;
    background-color: var(--body-home-page);
  }
  .menu {
    position: absolute;
    right: 0;
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-inscription {
    position: absolute;
    right: 4em;
    top: 0.5em;
    background-color: var(--background-button-inscription);
    font-size: 1em;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: arial;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    cursor: pointer;
  }

  .burger {
    width: 80%;
    height: 0.3em;
    margin-top: 0.3em;
    position: relative;
    background-color: var(--background-burger);
    border-radius: 1em;
  }

  .click-burger {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
  }

  .burger-home {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--body-home-page);
  }

  .x {
    background-color: var(--body-home-page);
    border: none;
    position: absolute;
    right: 0;
    font-size: 3.5em;
    color: white;
    cursor: pointer;
  }

  .ins-co {
    width: 80%;
    height: 30em;
    position: absolute;
    left: 10%;
    top: 5em;
  }

  .ins {
    position: relative;
    width: 80%;
    height: 2em;
    left: 10%;
    background-color: var(--background-button-inscription);
    border-radius: 2em;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: Georgia, serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-top: 1em;
  }

  #se-connecter {
    background-color: var(--body-home-page);
    color: white;
    border: 1px solid white;
  }

  .liste-burger-home {
    position: relative;
    top: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Baskervville SC", serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .li-burger-home {
    margin-top: 1em;
  }

  .return-accueil {
    width: 100%;
    height: 100%;
    background-color: var(--background-home-page);
    border: none;
    font-size: 1em;
    color: white;
    font-family: "Baskervville SC", serif;
  }

  .easy-chat {
    font-family: "Love Light", cursive;
    font-size: 2em;
    margin-left: 0.5em;
    color: var(--int-easy-chat);
    position: absolute;
  }

  .carrousel-registration {
    position: absolute;
    top: 5em;
    width: 90%;
    left: 5%;
    height: 30em;
    /* border: 1px solid white; */
    overflow: hidden;
  }

  .ul-carrousel-registration {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 300%;
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .li-carrousel-registration {
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow;*/
    position: relative;
  }

  .i-am {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .li-sex {
    position: absolute;
    top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .button-sex {
    width: 40%;
    height: 3em;
    border: 1px solid blue;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: var(--body-home-page);
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.8em;
  }

  .radio-sex {
    position: relative;
    top: -5em;
    left: -1em;
    width: 13em;
    height: 13em;
    opacity: 0;
  }

  #selectedHomme {
    background-color: red;
  }

  #selectedFemme {
    background-color: red;
  }

  #selectedSearchHomme {
    background-color: red;
  }

  #selectedSearchFemme {
    background-color: red;
  }

  .next-inscription-off {
    position: absolute;
    bottom: 5em;
    width: 80%;
    left: 10%;
    padding: 1em;
    border-radius: 20px;
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
  }

  .next-inscription-on {
    position: absolute;
    bottom: 5em;
    width: 80%;
    left: 10%;
    padding: 1em;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
  }

  .i-search {
    position: absolute;
    top: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .li-search {
    position: absolute;
    top: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .age {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .mail {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }
  .select-option {
    position: relative;
    top: 5.5em;
    width: 100%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .input-mail {
    position: relative;
    top: 5.5em;
    width: 97%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .h3-password {
    position: relative;
    top: 7em;
    font-family: Georgia, "Times New Roman", imes, serif;
    color: white;
    margin-left: 1em;
  }

  .input-password {
    position: relative;
    top: 8em;
    width: 97%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .submit-inscription-off {
    position: relative;
    top: 10em;
    background-color: grey;
    color: white;
    width: 70%;
    left: 15%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
  }

  .submit-inscription-on {
    position: relative;
    top: 10em;
    background-color: red;
    color: white;
    width: 70%;
    left: 15%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
  }
  .pseudo {
    position: relative;
    top: 7em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    left: 1em;
  }

  .input-pseudo {
    position: relative;
    width: 96%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 7.5em;
  }

  .validate-password {
    position: relative;
    top: 10em;
    width: 97%;
    height: 5em;
    font-size: 1em;
    color: white;
  }

  .menu-member {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #501720;
    animation-name: slide-menu-member;
    animation-duration: 0.5s;
  }

  @keyframes slide-menu-member {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 100%;
      opacity: 1;
    }
  }

  .ul-menu-member {
    position: relative;
    top: 5em;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
    font-family:
      Baskervville SC,
      serif;
  }

  .li-menu-member {
    margin-top: 1em;
  }

  .select-dep {
    position: relative;
    top: 3em;
    left: 0%;
    width: 100%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .dep {
    position: relative;
    top: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .div-connexion {
    width: 100%;
    height: 100%;
    background-color: var(--body-home-page);
    position: absolute;
  }

  .block-connexion {
    position: relative;
    top: 5em;
    left: 5%;
    width: 90%;
    height: 25em;
  }

  .input-pseudo-connexion {
    position: relative;
    width: 97%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 2.5em;
  }

  .pseudo-connexion {
    position: relative;
    top: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .mdp-connexion {
    position: relative;
    top: 4.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .input-password-connexion {
    position: relative;
    width: 97%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 5.5em;
  }

  .me-connecter-off {
    position: relative;
    top: 8em;
    width: 50%;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    left: 25%;
    border-radius: 20px;
    border: none;
    background-color: grey;
    color: white;
  }

  .me-connecter-on {
    position: relative;
    top: 8em;
    width: 50%;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    left: 25%;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
  }

  .voir-filtres {
    background-color: white;
    position: relative;
    width: 70%;
    left: 5%;
    font-size: 1.2em;
    text-align: left;
    color: var(--body-home-page);
    border: 2px solid var(--body-home-page);
    border-radius: 5px;
    top: 1em;
    cursor: pointer;
  }

  .refresh {
    position: absolute;
    right: 0.5em;
    top: 4em;
    cursor: pointer;
  }

  .chevron {
    position: absolute;
    right: 0em;
    transform: rotate(90deg);
    font-size: 1.5em;
    top: -0.2em;
  }

  .the-users {
    position: relative;
    top: 2em;
    width: 98%;
    height: 31em;
    left: 1%;
  }

  .ul-article {
    position: absolute;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    border: 2px solid var(--body-home-page);
    background-color: var(--body-home-page);
  }

  .ul-article-none {
    display: none;
  }

  .div-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--body-home-page);
    z-index: 4;
  }

  .div-message-none {
    display: none;
  }

  .button-div-message {
    position: absolute;
    right: 0%;
    top: 0;
    font-size: 2em;
    color: red;
    background-color: transparent;
    border: none;
    z-index: 5;
  }

  .li-article {
    position: relative;
    width: 48.5%;
    height: 15em;
    border: 1px solid black;
    margin-left: 0.5%;
    margin-top: 0.1em;
    float: left;
  }

  .img-article-user {
    width: 100%;
    height: 85%;
    position: absolute;
  }

  .article-pseudo-men {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, black, #4295cc);
    color: white;
    text-align: center;
  }

  .article-pseudo-woman {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, black, #ff114f);
    color: white;
    text-align: center;
  }

  .profil-member {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #501720;
  }

  .my-profil {
    width: 100%;
    height: 31em;
    position: relative;
    top: 5em;
    left: 0%;
    overflow: scroll;
  }

  .section-my-profil-picture {
    position: relative;
    width: 100%;
    height: 16em;
    margin-top: 1em;
  }

  .h3-photo-profil {
    font-family:
      Baskervville SC,
      serif;
    color: white;
    font-size: 2em;
    text-align: center;
  }

  .img-profil-mini {
    width: 40%;
    height: 80%;
    position: absolute;
    left: 30%;
  }

  #file {
    display: none;
  }

  #submit {
    position: absolute;
    right: 2em;
    width: 4em;
    height: 4em;
    background-color: var(--body-home-page);
    border: none;
  }

  #label-file {
    position: absolute;
    right: 2em;
    width: 3em;
    height: 3em;
  }

  .app-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .sub-file-none {
    display: none;
  }

  .submit-change {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
  }

  .animate-logo {
    position: absolute;
    top: 5em;
    left: 5%;
    width: 90%;
    height: 30em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation-name: app;
    animation-duration: 2s;
  }

  @keyframes app {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .li-animate-logo1 {
    width: 33%;
    position: absolute;
    left: 33.33333333%;
    top: 15%;
    height: 60%;
  }

  .li-animate-logo2 {
    width: 33%;
    position: absolute;
    left: 10%;
    top: 20%;
    height: 50%;
    animation-name: men;
    animation-duration: 2s;
  }

  .li-animate-logo3 {
    width: 33%;
    position: absolute;
    right: 10%;
    top: 19%;
    height: 50%;
    animation-name: woman;
    animation-duration: 2s;
  }

  @keyframes woman {
    from {
      top: 25%;
    }
    to {
      top: 19%;
    }
  }

  @keyframes men {
    from {
      top: 14%;
    }
    to {
      top: 20%;
    }
  }

  .img-pied {
    width: 100%;
    height: 100%;
  }

  .date-inscrition {
    font-size: 1.5em;
    font-family:
      Baskervville SC,
      serif;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #modify-password {
    width: 50%;
    position: relative;
    left: 25%;
    cursor: pointer;
    margin-bottom: 2em;
  }

  #modify-password-txt {
    text-align: center;
    cursor: pointer;
    color: white;
    width: 100%;
  }

  .select-dep-modify {
    width: 50%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
    position: relative;
    left: 25%;
    margin-bottom: 2em;
  }

  #modify-mail {
    cursor: pointer;
    width: 50%;
    position: relative;
    margin-bottom: 2em;
  }

  .select-search-modify {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
    margin-bottom: 2em;
  }

  .area-description {
    width: 70%;
    height: 7em;
    position: relative;
    left: 15%;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 2em;
  }

  .sub-modification {
    position: relative;
    width: 30%;
    top: 1em;
    left: 35%;
    background-color: grey;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.5;
  }

  .sub-modification-on {
    position: relative;
    width: 30%;
    top: 1em;
    left: 35%;
    background-color: red;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    border-radius: 10px;
  }

  .modify-ok {
    position: fixed;
    left: 0%;
    top: 4em;
    width: 100%;
    height: 100%;
    background-color: var(--body-home-page);
  }

  .modification-enregistrer {
    font-family:
      Baskervville SC,
      serif;
    color: white;
    text-align: center;
    margin-top: 3em;
  }

  .return-home {
    margin-top: 1em;
    width: 30%;
    margin-left: 35%;
    background-color: red;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }

  .filter-search {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    border: 2px solid var(--body-home-page);
    animation-name: slide-search;
    animation-duration: 0.5s;
    font-family:
      Baskervville SC,
      serif;
    z-index: 6;
  }

  @keyframes slide-search {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  .filter-search-off {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    border: 2px solid var(--body-home-page);
    animation-name: slide-search-off;
    animation-duration: 0.5s;
    font-family:
      Baskervville SC,
      serif;
  }

  @keyframes slide-search-off {
    from {
      opacity: 1;
    }
    to {
      opacity: 0%;
    }
  }

  .div-input-checkbox {
    width: 100%;
    height: 4em;
    position: relative;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: div-input;
    animation-duration: 1s;
  }

  @keyframes div-input {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .result-age {
    width: 100%;
    height: 1em;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  input[type="range"] {
    -webkit-appearance: none; /* Removes default styling */
    width: 40%;
    height: 10px;
    background: var(--body-home-page);
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  input[type="range"]:hover {
    opacity: 1;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: pink;
    cursor: pointer;
    border-radius: 50%;
  }

  input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: pink;
    cursor: pointer;
    border-radius: 50%;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    /* width: 20px;
    height: 20px; */
    border: 2px solid pink;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  input[type="radio"]:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .h4-search {
    font-family:
      Baskervville SC,
      serif;
    font-size: 1.2em;
  }

  .inline-on {
    width: 1em;
    height: 1em;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    border: 2px dashed white;
    right: 0.2em;
    bottom: 0.2em;
  }

  .inline-off {
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    border: 2px dashed white;
    right: 0.2em;
    bottom: 0.2em;
  }

  #inpt-checkbox-search-men {
    width: 1.5em;
    height: 1.5em;
  }

  #inpt-checkbox-search-woman {
    width: 1.5em;
    height: 1.5em;
  }

  #inpt-inline-yes {
    width: 1.5em;
    height: 1.5em;
  }

  #inpt-inline-no {
    width: 1.5em;
    height: 1.5em;
  }

  .label-search {
    cursor: pointer;
  }

  .div-input-checkbox-dep {
    width: 100%;
    height: 4em;
    position: relative;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: div-input;
    animation-duration: 1s;
  }

  .select-dep-search {
    width: 20%;
    cursor: pointer;
  }

  .submit-search {
    position: absolute;
    width: 30%;
    left: 35%;
    bottom: 6em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 10px;
    background-color: pink;
    color: var(--body-home-page);
    border: 2px solid var(--body-home-page);
    animation-name: correction;
    animation-duration: 3s;
    cursor: pointer;
  }

  @keyframes correction {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .number-result {
    position: relative;
    top: 1em;
    text-align: center;
    font-weight: bold;
    color: var(--body-home-page);
    font-size: 1.5em;
    z-index: 1;
  }

  .button-li-user {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  .div-message {
    animation-name: divMessage;
    animation-duration: 1s;
  }

  @keyframes divMessage {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .resum-user {
    position: absolute;
    width: 100%;
    height: 3em;
  }

  .img-user-selected {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    margin-top: 0.1em;
    margin-left: 0.2em;
  }

  .img-user-selected-animation {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    margin-top: 0.1em;
    margin-left: 0.2em;
    animation-name: slide-img-user-selected;
    animation-duration: 0.5s;
  }

  @keyframes slide-img-user-selected {
    from {
      opacity: 0;
      width: 0;
    }
    to {
      opacity: 1;
      width: 5em;
    }
  }

  .info-user-selected {
    display: inline;
    position: absolute;
    top: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-family:
      Baskervville SC,
      serif;
    font-size: 0.9em;
    font-weight: bold;
  }

  .info-user-selected-animation {
    display: inline;
    position: absolute;
    top: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-family:
      Baskervville SC,
      serif;
    font-size: 0.7em;
    font-weight: bold;
    animation-name: txt-info;
    animation-duration: 1s;
  }

  @keyframes txt-info {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .h2-description {
    font-family:
      Baskervville SC,
      serif;
    margin-left: 0.1em;
    font-size: 1em;
  }

  .lorem-description {
    margin-left: 0.3em;
    width: 95%;
    height: 4.7em;
    text-align: left;
    overflow-y: scroll;
    font-size: 0.9em;
  }

  .lorem-description::-webkit-scrollbar {
    width: 0.3em;
  }

  .lorem-description::-webkit-scrollbar-thumb {
    background: var(--body-home-page);
    border-radius: 10px;
  }

  .container-message {
    position: relative;
    width: 100%;
    top: 40%;
    height: 30%;
    left: 0;
  }

  .button-refresh {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .form-message {
    width: 100%;
    height: 9em;
    position: absolute;
    left: 0%;
    top: 100%;
  }

  .area-message {
    width: 90%;
    height: 5em;
    position: absolute;
    left: 5%;
    top: 20%;
    border-radius: 0.5em;
    resize: none;
  }

  .container-message-animation {
    position: relative;
    width: 100%;
    top: 40%;
    height: 30%;
    left: 0;
    animation-name: container-animate-message;
    animation-duration: 1s;
  }

  @keyframes container-animate-message {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .img-send {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .submit-txt-message {
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
  }

  .ajax {
    width: 98%;
    height: 10em;
    margin-left: 1%;
    margin-top: -1em;
    border: none;
  }

  .block-ajax {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (min-width: 375px) {
  .radio-sex {
    position: relative;
    top: -5em;
    left: -2em;
    width: 15em;
    height: 15em;
  }
}

@media screen and (min-width: 425px) {
  .radio-sex {
    position: relative;
    top: -5em;
    left: -1.5em;
    width: 15em;
    height: 15em;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }

  .animate-logo {
    position: absolute;
    top: 5em;
    left: 20%;
    width: 60%;
    height: 30em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation-name: app;
    animation-duration: 2s;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 5%;
  }

  .button-inscription {
    padding-left: 3em;
    padding-right: 3em;
    right: 1em;
  }

  .button-connexion {
    position: absolute;
    right: 12em;
    top: 0.5em;
    background-color: white;
    font-size: 1em;
    color: red;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: arial;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    cursor: pointer;
  }

  .easy-chat {
    font-family: "Love Light", cursive;
    font-size: 3em;
    margin-left: 0.5em;
    color: var(--int-easy-chat);
  }

  .radio-sex {
    position: relative;
    top: -5em;
    left: -0.5em;
    width: 12em;
    height: 12em;
    opacity: 0;
    cursor: pointer;
  }

  .button-sex {
    width: 20%;
    height: 3em;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: var(--body-home-page);
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.8em;
    cursor: pointer;
  }

  .carrousel-registration {
    position: absolute;
    top: 5em;
    width: 55%;
    left: 45%;
    height: 30em;
    overflow: hidden;
  }

  .li-search {
    position: absolute;
    top: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .li-sex {
    position: absolute;
    top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .next-inscription-off {
    position: absolute;
    bottom: 1em;
    width: 40%;
    left: 30%;
    padding: 1em;
    border-radius: 20px;
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
  }

  .next-inscription-on {
    position: absolute;
    bottom: 1em;
    width: 40%;
    left: 30%;
    padding: 1em;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .select-option {
    position: relative;
    top: 5.5em;
    left: 15%;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .input-pseudo {
    position: relative;
    width: 70%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 7.5em;
    left: 15%;
  }

  .input-mail {
    position: relative;
    top: 5.5em;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    left: 15%;
  }

  .input-password {
    position: relative;
    top: 8em;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    left: 15%;
  }

  .submit-inscription-off {
    position: relative;
    top: 10em;
    background-color: grey;
    color: white;
    width: 40%;
    left: 30%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
  }

  .submit-inscription-on {
    position: relative;
    top: 10em;
    background-color: red;
    color: white;
    width: 40%;
    left: 30%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  }

  .i-am {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 7em;
  }

  .i-search {
    position: absolute;
    top: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 7em;
  }

  .age {
    margin-left: 6em;
  }

  .pseudo {
    margin-left: 5em;
  }

  .mail {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 5em;
  }

  .h3-password {
    margin-left: 5em;
  }

  .validate-password p {
    margin-left: 6em;
  }

  .select-dep {
    position: relative;
    top: 3em;
    left: 15%;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .dep {
    position: relative;
    top: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 6em;
  }

  .block-connexion {
    position: relative;
    top: 8em;
    left: 60%;
    width: 30%;
    height: 25em;
  }

  .header-member {
    width: 100%;
    height: 5em;
    background-color: var(--body-home-page);
  }

  .ul-article {
    position: absolute;
    width: 28%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid var(--body-home-page);
  }

  .the-users {
    position: relative;
    top: 2em;
    width: 98%;
    height: 31em;
    left: 1%;
    border: 4px solid var(--body-home-page);
  }

  .animate-logo {
    position: absolute;
    top: 5em;
    left: 5%;
    width: 30%;
    height: 30em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation-name: app;
    animation-duration: 2s;
  }

  .button-contact {
    position: absolute;
    right: 29em;
    top: 0.5em;
    background-color: transparent;
    font-size: 1em;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family:
      Baskervville SC,
      serif;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    cursor: pointer;
    /* border: 1px solid white; */
  }

  .button-accueil {
    position: absolute;
    right: 40em;
    top: 0.5em;
    background-color: transparent;
    font-size: 1em;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family:
      Baskervville SC,
      serif;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    cursor: pointer;
  }

  .section-my-profil-picture {
    position: relative;
    left: 0%;
    width: 40%;
    height: 100%;
    top: 0em;
    animation-name: myImg;
    animation-duration: 0.5s;
  }

  @keyframes myImg {
    from {
      left: -20%;
      opacity: 0;
    }
    to {
      left: 0%;
      opacity: 1;
    }
  }

  .my-profil {
    width: 100%;
    height: 35em;
    position: relative;
    top: 5em;
    left: 0%;
    overflow: hidden;
  }

  .h3-photo-profil {
    font-family:
      Baskervville SC,
      serif;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  .section-my-profil-info {
    position: absolute;
    left: 40%;
    width: 58%;
    height: 100%;
    top: 1em;
    overflow-y: scroll;
    background-color: white;
    animation-name: myProfil;
    animation-duration: 0.5s;
  }

  @keyframes myProfil {
    from {
      left: 60%;
      opacity: 0;
    }
    to {
      left: 40%;
      opacity: 1;
    }
  }

  .img-profil-mini {
    width: 60%;
    height: 90%;
    position: absolute;
    left: 20%;
  }

  .date-inscrition {
    font-size: 1.5em;
    font-family:
      Baskervville SC,
      serif;
    padding: 1em;
    font-weight: bold;
    color: black;
  }

  #modify-password {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: -7em;
    margin-bottom: 0;
  }

  #modify-mail {
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 0;
  }

  .select-dep-modify {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: -8em;
    margin-bottom: 0;
  }

  .select-search-modify {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 0;
  }

  .select-option-dep {
    position: relative;
    top: 2em;
  }

  .area-description {
    width: 70%;
    height: 7em;
    position: relative;
    left: 25%;
    border: 1px solid black;
    cursor: pointer;
  }

  #description {
    position: absolute;
    top: 0;
  }

  .sub-modification {
    position: relative;
    width: 30%;
    top: 1em;
    left: 35%;
    background-color: grey;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    opacity: 0.5;
  }

  .image-container {
    position: relative;
    display: inline-block;
    width: 45em;
    height: 35em;
    left: 45%;
    top: 8em;
  }

  .image-container::before {
    content: "ils sont en ligne";
    font-family:
      Baskervville SC,
      serif;
    font-weight: bold;
    color: pink;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        var(--body-home-page),
        transparent,
        transparent
      ),
      linear-gradient(
        to bottom,
        var(--body-home-page),
        transparent,
        transparent
      ),
      linear-gradient(to left, var(--body-home-page), transparent, transparent),
      linear-gradient(to right, var(--body-home-page), transparent, transparent);
    z-index: 1;
  }

  .image-container img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    animation-name: flou;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes flou {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #modify-password-txt {
    text-align: center;
    cursor: pointer;
    color: black;
    width: 100%;
  }

  .filter-search {
    position: absolute;
    left: 28%;
    width: 72%;
    height: 100%;
    background-color: white;
    z-index: 1;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px solid var(--body-home-page);
    animation-name: slide-search;
    animation-duration: 0.5s;
    font-family:
      Baskervville SC,
      serif;
  }

  .voir-filtres {
    width: 20%;
    left: 2%;
  }

  .div-input-checkbox {
    width: 50%;
    height: 4em;
    left: 25%;
    position: relative;
    top: 2em;
  }

  .div-input-checkbox-dep {
    width: 45%;
    left: 27.5%;
    height: 4em;
    position: relative;
    top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: div-input;
    animation-duration: 1s;
  }

  .select-dep-search {
    width: 20%;
  }

  .div-message {
    position: absolute;
    left: 28%;
    top: 0;
    width: 72%;
    height: 100%;
    border: 2px solid var(--body-home-page);
    z-index: 0;
  }

  .resum-user {
    position: absolute;
    width: 100%;
    height: 3em;
  }

  .img-user-selected {
    position: relative;
    display: inline-block;
    width: 13em;
    height: 13em;
    margin-top: 0.1em;
    margin-left: 0.2em;
  }

  .img-user-selected-animation {
    position: relative;
    display: inline-block;
    width: 13em;
    height: 13em;
    margin-top: 0.1em;
    margin-left: 0.2em;
    animation-name: slide-img-user-selected;
    animation-duration: 0.5s;
  }

  @keyframes slide-img-user-selected {
    from {
      opacity: 0;
      width: 0;
    }
    to {
      opacity: 1;
      width: 13em;
    }
  }

  .info-user-selected {
    display: inline;
    position: absolute;
    top: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-family:
      Baskervville SC,
      serif;
    font-size: 1.2em;
    font-weight: bold;
  }

  .info-user-selected-animation {
    display: inline;
    position: absolute;
    top: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-family:
      Baskervville SC,
      serif;
    font-size: 1.2em;
    font-weight: bold;
    animation-name: txt-info;
    animation-duration: 1s;
  }

  @keyframes txt-info {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .h2-description {
    font-family:
      Baskervville SC,
      serif;
    margin-left: 0.1em;
  }

  .lorem-description {
    margin-left: 0.3em;
    width: 23em;
    height: 12.7em;
    text-align: left;
    overflow-y: scroll;
    font-size: 1em;
  }

  .lorem-description::-webkit-scrollbar {
    width: 0.3em;
  }

  .lorem-description::-webkit-scrollbar-thumb {
    background: var(--body-home-page);
    border-radius: 10px;
  }

  .container-message {
    position: absolute;
    width: 48%;
    height: 99%;
    left: 52%;
    top: 0;
    background-color: white;
  }

  .refresh {
    position: absolute;
    left: 25%;
    top: 6em;
    cursor: pointer;
    width: 3em;
    height: 3em;
  }

  .button-refresh {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .form-message {
    width: 100%;
    height: 30%;
    position: absolute;
    right: 0%;
    top: 70%;
  }

  .area-message {
    width: 90%;
    height: 5em;
    position: absolute;
    left: 5%;
    top: 20%;
    border-radius: 0.5em;
    border: 2px solid black;
  }

  .container-message-animation {
    position: absolute;
    width: 48%;
    height: 99%;
    left: 52%;
    top: 0;
    animation-name: container-animate-message;
    animation-duration: 1s;
  }

  .submit-txt-message {
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .ajax {
    position: absolute;
    top: 5%;
    width: 98%;
    height: 18.5em;
    margin-left: 1%;
  }
}
