@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");

* {
  margin: 0;
}

.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.love-light-regular {
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --body-home-page: #501720;
  --background-button-inscription: red;
  --background-burger: white;
  --int-easy-chat: pink;
}

.logo-mail {
  font-family: "Love Light", cursive;
}
button {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 320px) {
  .body-home-page {
    background-color: var(--body-home-page);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
  }

  .header-member {
    width: 100%;
    height: 3em;
    background-color: var(--body-home-page);
  }
  .menu {
    position: absolute;
    right: 0;
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-inscription {
    position: absolute;
    right: 4em;
    top: 0.5em;
    background-color: var(--background-button-inscription);
    font-size: 1em;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: arial;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    cursor: pointer;
  }

  .burger {
    width: 80%;
    height: 0.3em;
    margin-top: 0.3em;
    position: relative;
    background-color: var(--background-burger);
    border-radius: 1em;
  }

  .click-burger {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
  }

  .burger-home {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--body-home-page);
  }

  .x {
    background-color: var(--body-home-page);
    border: none;
    position: absolute;
    right: 0;
    font-size: 3.5em;
    color: white;
    cursor: pointer;
  }

  .ins-co {
    width: 80%;
    height: 30em;
    position: absolute;
    left: 10%;
    top: 5em;
  }

  .ins {
    position: relative;
    width: 80%;
    height: 2em;
    left: 10%;
    background-color: var(--background-button-inscription);
    border-radius: 2em;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: Georgia, serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-top: 1em;
  }

  #se-connecter {
    background-color: var(--body-home-page);
    color: white;
    border: 1px solid white;
  }

  .liste-burger-home {
    position: relative;
    top: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Baskervville SC", serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .li-burger-home {
    margin-top: 1em;
  }

  .return-accueil {
    width: 100%;
    height: 100%;
    background-color: var(--background-home-page);
    border: none;
    font-size: 1em;
    color: white;
    font-family: "Baskervville SC", serif;
  }

  .easy-chat {
    font-family: "Love Light", cursive;
    font-size: 2em;
    margin-left: 0.5em;
    color: var(--int-easy-chat);
    position: absolute;
  }

  .carrousel-registration {
    position: absolute;
    top: 5em;
    width: 90%;
    left: 5%;
    height: 30em;
    /* border: 1px solid white; */
    overflow: hidden;
  }

  .ul-carrousel-registration {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 300%;
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .li-carrousel-registration {
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow;*/
    position: relative;
  }

  .i-am {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .li-sex {
    position: absolute;
    top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .button-sex {
    width: 40%;
    height: 3em;
    border: 1px solid blue;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: var(--body-home-page);
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.8em;
  }

  .radio-sex {
    position: relative;
    top: -5em;
    left: -1em;
    width: 13em;
    height: 13em;
    opacity: 0;
  }

  #selectedHomme {
    background-color: red;
  }

  #selectedFemme {
    background-color: red;
  }

  #selectedSearchHomme {
    background-color: red;
  }

  #selectedSearchFemme {
    background-color: red;
  }

  .next-inscription-off {
    position: absolute;
    bottom: 5em;
    width: 80%;
    left: 10%;
    padding: 1em;
    border-radius: 20px;
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
  }

  .next-inscription-on {
    position: absolute;
    bottom: 5em;
    width: 80%;
    left: 10%;
    padding: 1em;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
  }

  .i-search {
    position: absolute;
    top: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .li-search {
    position: absolute;
    top: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .age {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .mail {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }
  .select-option {
    position: relative;
    top: 5.5em;
    width: 100%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .input-mail {
    position: relative;
    top: 5.5em;
    width: 97%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .h3-password {
    position: relative;
    top: 7em;
    font-family: Georgia, "Times New Roman", imes, serif;
    color: white;
    margin-left: 1em;
  }

  .input-password {
    position: relative;
    top: 8em;
    width: 97%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .submit-inscription-off {
    position: relative;
    top: 10em;
    background-color: grey;
    color: white;
    width: 70%;
    left: 15%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
  }

  .submit-inscription-on {
    position: relative;
    top: 10em;
    background-color: red;
    color: white;
    width: 70%;
    left: 15%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
  }
  .pseudo {
    position: relative;
    top: 7em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    left: 1em;
  }

  .input-pseudo {
    position: relative;
    width: 96%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 7.5em;
  }

  .validate-password {
    position: relative;
    top: 10em;
    width: 97%;
    height: 5em;
    font-size: 1em;
    color: white;
  }

  .menu-member {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #501720;
    animation-name: slide-menu-member;
    animation-duration: 0.5s;
  }

  @keyframes slide-menu-member {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 100%;
      opacity: 1;
    }
  }

  .ul-menu-member {
    position: relative;
    top: 5em;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
    font-family:
      Baskervville SC,
      serif;
  }

  .li-menu-member {
    margin-top: 1em;
  }

  .select-dep {
    position: relative;
    top: 3em;
    left: 0%;
    width: 100%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .dep {
    position: relative;
    top: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .div-connexion {
    width: 100%;
    height: 100%;
    background-color: var(--body-home-page);
    position: absolute;
  }

  .block-connexion {
    position: relative;
    top: 5em;
    left: 5%;
    width: 90%;
    height: 25em;
  }

  .input-pseudo-connexion {
    position: relative;
    width: 97%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 2.5em;
  }

  .pseudo-connexion {
    position: relative;
    top: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .mdp-connexion {
    position: relative;
    top: 4.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 1em;
  }

  .input-password-connexion {
    position: relative;
    width: 97%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 5.5em;
  }

  .me-connecter-off {
    position: relative;
    top: 8em;
    width: 50%;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    left: 25%;
    border-radius: 20px;
    border: none;
    background-color: grey;
    color: white;
  }

  .me-connecter-on {
    position: relative;
    top: 8em;
    width: 50%;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    left: 25%;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
  }

  .voir-filtres {
    background-color: white;
    position: relative;
    width: 90%;
    left: 5%;
    font-size: 1.2em;
    text-align: left;
    color: var(--body-home-page);
    border: 2px solid var(--body-home-page);
    border-radius: 5px;
    top: 1em;
  }

  .chevron {
    position: absolute;
    right: 0em;
    transform: rotate(90deg);
    font-size: 1.5em;
    top: -0.2em;
  }

  .the-users {
    position: relative;
    top: 2em;
    width: 98%;
    height: 31em;
    left: 1%;
  }

  .ul-article {
    position: absolute;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    border: 2px solid var(--body-home-page);
  }

  .li-article {
    position: relative;
    width: 48.5%;
    height: 15em;
    border: 1px solid black;
    margin-left: 0.5%;
    margin-top: 0.1em;
    float: left;
  }

  .img-article-user {
    width: 100%;
    height: 85%;
    position: absolute;
  }

  .article-pseudo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--body-home-page);
    color: white;
    text-align: center;
  }

  .profil-member {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #501720;
  }

  .my-profil {
    width: 100%;
    height: 31em;
    position: relative;
    top: 5em;
    left: 0%;
    overflow: scroll;
  }

  .section-my-profil-picture {
    position: relative;
    width: 100%;
    height: 16em;
    margin-top: 1em;
  }

  .h3-photo-profil {
    font-family:
      Baskervville SC,
      serif;
    color: white;
    font-size: 1.2em;
    text-align: center;
  }

  .img-profil-mini {
    width: 40%;
    height: 80%;
    position: absolute;
    left: 30%;
  }

  #file {
    display: none;
  }

  #submit {
    position: absolute;
    right: 2em;
    width: 4em;
    height: 4em;
    background-color: var(--body-home-page);
    border: none;
  }

  #label-file {
    position: absolute;
    right: 2em;
    width: 3em;
    height: 3em;
  }

  .app-photo {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .sub-file-none {
    display: none;
  }

  .submit-change {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
}

@media screen and (min-width: 375px) {
  .radio-sex {
    position: relative;
    top: -5em;
    left: -2em;
    width: 15em;
    height: 15em;
  }
}

@media screen and (min-width: 425px) {
  .radio-sex {
    position: relative;
    top: -5em;
    left: -1.5em;
    width: 15em;
    height: 15em;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 5%;
  }

  .button-inscription {
    padding-left: 3em;
    padding-right: 3em;
    right: 1em;
  }

  .button-connexion {
    position: absolute;
    right: 12em;
    top: 0.5em;
    background-color: white;
    font-size: 1em;
    color: red;
    border: none;
    padding: 0.5em;
    border-radius: 1.5em;
    font-family: arial;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    cursor: pointer;
  }

  .easy-chat {
    font-family: "Love Light", cursive;
    font-size: 3em;
    margin-left: 0.5em;
    color: var(--int-easy-chat);
  }

  .radio-sex {
    position: relative;
    top: -5em;
    left: -0.5em;
    width: 12em;
    height: 12em;
    opacity: 0;
    cursor: pointer;
  }

  .button-sex {
    width: 20%;
    height: 3em;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: var(--body-home-page);
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.8em;
    cursor: pointer;
  }

  .carrousel-registration {
    position: absolute;
    top: 5em;
    width: 55%;
    left: 45%;
    height: 30em;
    overflow: hidden;
  }

  .li-search {
    position: absolute;
    top: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .li-sex {
    position: absolute;
    top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .next-inscription-off {
    position: absolute;
    bottom: 1em;
    width: 40%;
    left: 30%;
    padding: 1em;
    border-radius: 20px;
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
  }

  .next-inscription-on {
    position: absolute;
    bottom: 1em;
    width: 40%;
    left: 30%;
    padding: 1em;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .select-option {
    position: relative;
    top: 5.5em;
    left: 15%;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .input-pseudo {
    position: relative;
    width: 70%;
    font-size: 1.2em;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 7.5em;
    left: 15%;
  }

  .input-mail {
    position: relative;
    top: 5.5em;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    left: 15%;
  }

  .input-password {
    position: relative;
    top: 8em;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    left: 15%;
  }

  .submit-inscription-off {
    position: relative;
    top: 10em;
    background-color: grey;
    color: white;
    width: 40%;
    left: 30%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
  }

  .submit-inscription-on {
    position: relative;
    top: 10em;
    background-color: red;
    color: white;
    width: 40%;
    left: 30%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  }

  .i-am {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 7em;
  }

  .i-search {
    position: absolute;
    top: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 7em;
  }

  .age {
    margin-left: 6em;
  }

  .pseudo {
    margin-left: 5em;
  }

  .mail {
    position: relative;
    top: 5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 5em;
  }

  .h3-password {
    margin-left: 5em;
  }

  .validate-password p {
    margin-left: 6em;
  }

  .select-dep {
    position: relative;
    top: 3em;
    left: 15%;
    width: 70%;
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .dep {
    position: relative;
    top: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    margin-left: 6em;
  }

  .block-connexion {
    position: relative;
    top: 5em;
    left: 60%;
    width: 30%;
    height: 25em;
  }

  .header-member {
    width: 100%;
    height: 5em;
    background-color: var(--body-home-page);
  }

  .ul-article {
    position: absolute;
    width: 28%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid var(--body-home-page);
  }

  .the-users {
    position: relative;
    top: 2em;
    width: 98%;
    height: 31em;
    left: 1%;
    border: 1px solid black;
  }
}
